<!DOCTYPE html>
<html>
    <head>
        <title>TraveList</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link href="https://fonts.googleapis.com/css?family=Pragati+Narrow" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        <div class="main">
            <div class="logo">TraveList</div>
            <div class="description">Here you can choose where to spend your holiday</div>
            <div class="start">START</div>
        </div>
    </body>
    <script>
        $(".start").click(function() {
            window.location = "/test";
        });
    </script>
</html>